<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-4">Inventory Tracker</h1>
    <p class="lead">This app is an inventory tracker, which tracks all your food, medicine and any other things you have. Never forget any tiny object in your house any more.</p>
    <p class="fw-light">Developed by: Zeng, Lecheng</p>
</div>