<table>
    <tr>
        <th>Name</th>
        <th>Content</th>
    </tr>
    <% for (item of data) {%>
        <tr>
            <td><%= item.name %=></td>
            <td><%= item.content %=></td>
        </tr>
    <%}%>
</table>
